<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibona.springcloudprojectproviderhystrix8081.mapper.ProjectMapper">

    <select id="listProject" resultType="cn.ibona.springcloudcommons.entity.Project">
        select * from t_project
    </select>

    <select id="selectByProjectId" parameterType="integer" resultType="cn.ibona.springcloudcommons.entity.Project">
        select * from t_project where id=#{id}
    </select>

    <select id="selectByProjectName" resultType="cn.ibona.springcloudcommons.entity.Project">
        select * from t_project where project_name=#{name}
    </select>
</mapper>